# Day 3: PandasåŸºç¤â‘  - DataFrameæ“ä½œï¼ˆã‚·ãƒ³ãƒ—ãƒ«ç‰ˆï¼‰

## Excelãƒ¦ãƒ¼ã‚¶ãƒ¼ã®ãŸã‚ã® Pandas å…¥é–€

Pandasã®DataFrameã¯ã€Excelã®ã‚·ãƒ¼ãƒˆã¨åŒã˜ã‚ˆã†ãªè¡¨å½¢å¼ã®ãƒ‡ãƒ¼ã‚¿ã§ã™ã€‚
ä»Šæ—¥ã¯æœ€ã‚‚åŸºæœ¬çš„ãªæ“ä½œã ã‘ã«çµã£ã¦å­¦ç¿’ã—ã¾ã™ã€‚

### ä»Šæ—¥ã®ç›®æ¨™
1. ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿ã¨è¡¨ç¤º
2. åŸºæœ¬çš„ãªãƒ‡ãƒ¼ã‚¿é¸æŠ
3. ç°¡å˜ãªãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°
4. åŸºæœ¬çš„ãªé›†è¨ˆ

## æº–å‚™

In [3]:
import pandas as pd
import numpy as np

# è¡¨ç¤ºè¨­å®šï¼ˆè¦‹ã‚„ã™ãã™ã‚‹ãŸã‚ï¼‰
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

## 1. ã¾ãšã¯ã‚·ãƒ³ãƒ—ãƒ«ãªãƒ‡ãƒ¼ã‚¿ã‚’ä½œã£ã¦ã¿ã‚‹

Excelã§è¡¨ã‚’ä½œã‚‹ã‚ˆã†ã«ã€Pandasã§ã‚‚ãƒ‡ãƒ¼ã‚¿ã‚’ä½œã‚Œã¾ã™ã€‚

In [4]:
# Excelã§ä½œã‚‹ã‚ˆã†ãªç¤¾å“¡ãƒªã‚¹ãƒˆã‚’ä½œæˆ
ç¤¾å“¡ãƒ‡ãƒ¼ã‚¿ = {
    'åå‰': ['ç”°ä¸­', 'éˆ´æœ¨', 'ä½è—¤', 'é«˜æ©‹', 'å±±ç”°'],
    'éƒ¨ç½²': ['å–¶æ¥­', 'IT', 'å–¶æ¥­', 'IT', 'äººäº‹'],
    'å¹´é½¢': [25, 30, 35, 28, 33],
    'çµ¦ä¸': [300000, 400000, 350000, 380000, 320000]
}

# DataFrameã‚’ä½œæˆï¼ˆExcelã®ã‚·ãƒ¼ãƒˆã®ã‚ˆã†ãªã‚‚ã®ï¼‰
df = pd.DataFrame(ç¤¾å“¡ãƒ‡ãƒ¼ã‚¿)

print("ç¤¾å“¡ãƒªã‚¹ãƒˆ:")
df

ç¤¾å“¡ãƒªã‚¹ãƒˆ:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
0  ç”°ä¸­  å–¶æ¥­  25  300000
1  éˆ´æœ¨  IT  30  400000
2  ä½è—¤  å–¶æ¥­  35  350000
3  é«˜æ©‹  IT  28  380000
4  å±±ç”°  äººäº‹  33  320000

### ğŸ“Š Excel ã¨ã®æ¯”è¼ƒ
- **Excel**: ã‚»ãƒ«ã«ç›´æ¥ãƒ‡ãƒ¼ã‚¿ã‚’å…¥åŠ›
- **Pandas**: è¾æ›¸å½¢å¼ã§ãƒ‡ãƒ¼ã‚¿ã‚’å®šç¾©ã—ã¦DataFrameã‚’ä½œæˆ

## 2. ãƒ‡ãƒ¼ã‚¿ã‚’è¦‹ã‚‹ - Excelã®ã‚ˆã†ã«

In [5]:
# æœ€åˆã®3è¡Œã ã‘è¦‹ã‚‹ï¼ˆExcelã§ä¸Šã®æ–¹ã ã‘è¦‹ã‚‹ã‚ˆã†ãªæ„Ÿã˜ï¼‰
print("æœ€åˆã®3è¡Œ:")
df.head(3)

æœ€åˆã®3è¡Œ:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
0  ç”°ä¸­  å–¶æ¥­  25  300000
1  éˆ´æœ¨  IT  30  400000
2  ä½è—¤  å–¶æ¥­  35  350000

In [6]:
# ãƒ‡ãƒ¼ã‚¿ã®åŸºæœ¬æƒ…å ±ï¼ˆExcelã®ã‚¹ãƒ†ãƒ¼ã‚¿ã‚¹ãƒãƒ¼ã®ã‚ˆã†ãªæƒ…å ±ï¼‰
print(f"è¡Œæ•°: {len(df)}")
print(f"åˆ—æ•°: {len(df.columns)}")
print(f"\nåˆ—å: {df.columns.tolist()}")

è¡Œæ•°: 5
åˆ—æ•°: 4

åˆ—å: ['åå‰', 'éƒ¨ç½²', 'å¹´é½¢', 'çµ¦ä¸']

## 3. åˆ—ã‚’é¸ã¶ - Excelã§åˆ—ã‚’é¸æŠã™ã‚‹ã‚ˆã†ã«

In [7]:
# 1ã¤ã®åˆ—ã‚’é¸ã¶ï¼ˆExcelã§Båˆ—ã‚’é¸ã¶ã‚ˆã†ãªæ„Ÿã˜ï¼‰
print("åå‰ã®åˆ—ã ã‘:")
df['åå‰']

åå‰ã®åˆ—ã ã‘:

0    ç”°ä¸­
1    éˆ´æœ¨
2    ä½è—¤
3    é«˜æ©‹
4    å±±ç”°
Name: åå‰, dtype: object

In [8]:
# è¤‡æ•°ã®åˆ—ã‚’é¸ã¶ï¼ˆExcelã§Ctrlã‚’æŠ¼ã—ãªãŒã‚‰è¤‡æ•°åˆ—ã‚’é¸ã¶ã‚ˆã†ãªæ„Ÿã˜ï¼‰
print("åå‰ã¨çµ¦ä¸ã®åˆ—:")
df[['åå‰', 'çµ¦ä¸']]

åå‰ã¨çµ¦ä¸ã®åˆ—:

   åå‰      çµ¦ä¸
0  ç”°ä¸­  300000
1  éˆ´æœ¨  400000
2  ä½è—¤  350000
3  é«˜æ©‹  380000
4  å±±ç”°  320000

### ğŸ“Š Excel ã¨ã®æ¯”è¼ƒ
- **Excel**: åˆ—ã®ãƒ˜ãƒƒãƒ€ãƒ¼ã‚’ã‚¯ãƒªãƒƒã‚¯ã—ã¦é¸æŠ
- **Pandas**: `df['åˆ—å']` ã¾ãŸã¯ `df[['åˆ—1', 'åˆ—2']]`

## 4. ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚° - Excelã®ã‚ªãƒ¼ãƒˆãƒ•ã‚£ãƒ«ã‚¿ã®ã‚ˆã†ã«

In [9]:
# å¹´é½¢ãŒ30æ­³ä»¥ä¸Šã®äººã ã‘è¡¨ç¤º
print("30æ­³ä»¥ä¸Šã®ç¤¾å“¡:")
df[df['å¹´é½¢'] >= 30]

30æ­³ä»¥ä¸Šã®ç¤¾å“¡:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
1  éˆ´æœ¨  IT  30  400000
2  ä½è—¤  å–¶æ¥­  35  350000
4  å±±ç”°  äººäº‹  33  320000

In [10]:
# ITéƒ¨ç½²ã®äººã ã‘è¡¨ç¤º
print("ITéƒ¨ç½²ã®ç¤¾å“¡:")
df[df['éƒ¨ç½²'] == 'IT']

ITéƒ¨ç½²ã®ç¤¾å“¡:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
1  éˆ´æœ¨  IT  30  400000
3  é«˜æ©‹  IT  28  380000

In [11]:
# è¤‡æ•°æ¡ä»¶ï¼ˆå–¶æ¥­éƒ¨ã§çµ¦ä¸35ä¸‡ä»¥ä¸Šï¼‰
print("å–¶æ¥­éƒ¨ã§çµ¦ä¸35ä¸‡ä»¥ä¸Š:")
df[(df['éƒ¨ç½²'] == 'å–¶æ¥­') & (df['çµ¦ä¸'] >= 350000)]

å–¶æ¥­éƒ¨ã§çµ¦ä¸35ä¸‡ä»¥ä¸Š:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
2  ä½è—¤  å–¶æ¥­  35  350000

### ğŸ“Š Excel ã¨ã®æ¯”è¼ƒ
- **Excel**: ã‚ªãƒ¼ãƒˆãƒ•ã‚£ãƒ«ã‚¿ã§æ¡ä»¶ã‚’è¨­å®š
- **Pandas**: `df[æ¡ä»¶]` ã§æ¡ä»¶ã«åˆã†è¡Œã‚’æŠ½å‡º

## 5. ä¸¦ã¹æ›¿ãˆ - Excelã®ã‚½ãƒ¼ãƒˆæ©Ÿèƒ½ã®ã‚ˆã†ã«

In [12]:
# çµ¦ä¸ã®é«˜ã„é †ã«ä¸¦ã¹æ›¿ãˆã€‚ascending=ä¸Šæ˜‡ã™ã‚‹ã€‚ True =ä¸Šæ˜‡ã™ã‚‹ï¼ˆæ˜‡é †ï¼‰ã€False=ä¸Šæ˜‡ã—ãªã„ï¼ˆé™é †ï¼‰
print("çµ¦ä¸ã®é«˜ã„é †:")
df.sort_values('çµ¦ä¸', ascending=False)

çµ¦ä¸ã®é«˜ã„é †:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
1  éˆ´æœ¨  IT  30  400000
3  é«˜æ©‹  IT  28  380000
2  ä½è—¤  å–¶æ¥­  35  350000
4  å±±ç”°  äººäº‹  33  320000
0  ç”°ä¸­  å–¶æ¥­  25  300000

In [13]:
# å¹´é½¢ã®è‹¥ã„é †ã«ä¸¦ã¹æ›¿ãˆã€‚ ascendingã‚’çœç•¥ã™ã‚‹ã¨ã€æ˜‡é †ã«ãªã‚‹ã€‚åŸºæœ¬ã¯æ˜ç¤ºçš„ã«ã¤ã‘ã‚‹ã¹ãã€‚
print("å¹´é½¢ã®è‹¥ã„é †:")
df.sort_values('å¹´é½¢')

å¹´é½¢ã®è‹¥ã„é †:

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸
0  ç”°ä¸­  å–¶æ¥­  25  300000
3  é«˜æ©‹  IT  28  380000
1  éˆ´æœ¨  IT  30  400000
4  å±±ç”°  äººäº‹  33  320000
2  ä½è—¤  å–¶æ¥­  35  350000

## 6. åŸºæœ¬çš„ãªé›†è¨ˆ - Excelã®SUMã€AVERAGEé–¢æ•°ã®ã‚ˆã†ã«

In [14]:
# åŸºæœ¬çš„ãªçµ±è¨ˆ
print(f"çµ¦ä¸ã®åˆè¨ˆ: {df['çµ¦ä¸'].sum():,}å††")
print(f"çµ¦ä¸ã®å¹³å‡: {df['çµ¦ä¸'].mean():,.0f}å††")
print(f"æœ€é«˜çµ¦ä¸: {df['çµ¦ä¸'].max():,}å††")
print(f"æœ€ä½çµ¦ä¸: {df['çµ¦ä¸'].min():,}å††")

çµ¦ä¸ã®åˆè¨ˆ: 1,750,000å††
çµ¦ä¸ã®å¹³å‡: 350,000å††
æœ€é«˜çµ¦ä¸: 400,000å††
æœ€ä½çµ¦ä¸: 300,000å††

In [15]:
# éƒ¨ç½²ã”ã¨ã®å¹³å‡çµ¦ä¸ï¼ˆExcelã®ãƒ”ãƒœãƒƒãƒˆãƒ†ãƒ¼ãƒ–ãƒ«ã®ã‚ˆã†ãªã‚‚ã®ï¼‰
print("éƒ¨ç½²ã”ã¨ã®å¹³å‡çµ¦ä¸:")
df.groupby('éƒ¨ç½²')['çµ¦ä¸'].mean()

éƒ¨ç½²ã”ã¨ã®å¹³å‡çµ¦ä¸:

éƒ¨ç½²
IT    390000.0
äººäº‹    320000.0
å–¶æ¥­    325000.0
Name: çµ¦ä¸, dtype: float64

### ğŸ“Š Excel ã¨ã®æ¯”è¼ƒ
- **Excel**: SUM()ã€AVERAGE()ã€MAX()ã€MIN()é–¢æ•°
- **Pandas**: `.sum()`ã€`.mean()`ã€`.max()`ã€`.min()`ãƒ¡ã‚½ãƒƒãƒ‰

## 7. æ–°ã—ã„åˆ—ã‚’è¿½åŠ  - Excelã§è¨ˆç®—åˆ—ã‚’ä½œã‚‹ã‚ˆã†ã«

In [18]:
# ãƒœãƒ¼ãƒŠã‚¹åˆ—ã‚’è¿½åŠ ï¼ˆçµ¦ä¸ã®20%ï¼‰
df['ãƒœãƒ¼ãƒŠã‚¹'] = df['çµ¦ä¸'] * 1.5

print("ãƒœãƒ¼ãƒŠã‚¹åˆ—ã‚’è¿½åŠ :")
df

ãƒœãƒ¼ãƒŠã‚¹åˆ—ã‚’è¿½åŠ :

   åå‰  éƒ¨ç½²  å¹´é½¢      çµ¦ä¸      ãƒœãƒ¼ãƒŠã‚¹         å¹´å
0  ç”°ä¸­  å–¶æ¥­  25  300000  450000.0  3720000.0
1  éˆ´æœ¨  IT  30  400000  600000.0  4960000.0
2  ä½è—¤  å–¶æ¥­  35  350000  525000.0  4340000.0
3  é«˜æ©‹  IT  28  380000  570000.0  4712000.0
4  å±±ç”°  äººäº‹  33  320000  480000.0  3968000.0

In [19]:
# å¹´ååˆ—ã‚’è¿½åŠ ï¼ˆçµ¦ä¸Ã—12 + ãƒœãƒ¼ãƒŠã‚¹Ã—2ï¼‰
df['å¹´å'] = df['çµ¦ä¸'] * 12 + df['ãƒœãƒ¼ãƒŠã‚¹'] * 2

print("å¹´ååˆ—ã‚’è¿½åŠ :")
df[['åå‰', 'çµ¦ä¸', 'ãƒœãƒ¼ãƒŠã‚¹', 'å¹´å']]

å¹´ååˆ—ã‚’è¿½åŠ :

   åå‰      çµ¦ä¸      ãƒœãƒ¼ãƒŠã‚¹         å¹´å
0  ç”°ä¸­  300000  450000.0  4500000.0
1  éˆ´æœ¨  400000  600000.0  6000000.0
2  ä½è—¤  350000  525000.0  5250000.0
3  é«˜æ©‹  380000  570000.0  5700000.0
4  å±±ç”°  320000  480000.0  4800000.0

## 8. CSVãƒ•ã‚¡ã‚¤ãƒ«ã®èª­ã¿æ›¸ã - Excelãƒ•ã‚¡ã‚¤ãƒ«ã®ä¿å­˜ãƒ»èª­ã¿è¾¼ã¿ã®ã‚ˆã†ã«

In [ ]:
# CSVãƒ•ã‚¡ã‚¤ãƒ«ã«ä¿å­˜
df.to_csv('ç¤¾å“¡ãƒªã‚¹ãƒˆ.csv', index=False, encoding='utf-8-sig')
print("'ç¤¾å“¡ãƒªã‚¹ãƒˆ.csv'ã¨ã—ã¦ä¿å­˜ã—ã¾ã—ãŸ")

In [ ]:
# CSVãƒ•ã‚¡ã‚¤ãƒ«ã‹ã‚‰èª­ã¿è¾¼ã¿
df_èª­ã¿è¾¼ã¿ = pd.read_csv('ç¤¾å“¡ãƒªã‚¹ãƒˆ.csv')
print("CSVãƒ•ã‚¡ã‚¤ãƒ«ã‹ã‚‰èª­ã¿è¾¼ã¿:")
df_èª­ã¿è¾¼ã¿

## ğŸ¯ ç·´ç¿’å•é¡Œï¼ˆç°¡å˜ãªã‚‚ã®ã ã‘ï¼‰

### ç·´ç¿’1: å•†å“ãƒªã‚¹ãƒˆã‚’ä½œæˆ
ä»¥ä¸‹ã®ã‚ˆã†ãªå•†å“ãƒªã‚¹ãƒˆã‚’ä½œã£ã¦ã¿ã¾ã—ã‚‡ã†ï¼š
- å•†å“å: ã‚Šã‚“ã”ã€ã¿ã‹ã‚“ã€ãƒãƒŠãƒŠã€ã¶ã©ã†ã€ã„ã¡ã”
- ä¾¡æ ¼: 100, 80, 50, 200, 300
- åœ¨åº«: 50, 100, 80, 30, 20

In [24]:
# ã“ã“ã«ç·´ç¿’1ã®ã‚³ãƒ¼ãƒ‰ã‚’æ›¸ã„ã¦ãã ã•ã„
å•†å“ãƒ‡ãƒ¼ã‚¿ = {
    'å•†å“å': ['ã‚Šã‚“ã”', 'ã¿ã‹ã‚“', 'ãƒãƒŠãƒŠ', 'ã¶ã©ã†', 'ã„ã¡ã”'],
    'ä¾¡æ ¼': [100, 80, 50, 200, 300],
    'åœ¨åº«': [50, 100, 80, 30, 20],
}

df_å•†å“ = pd.DataFrame(å•†å“ãƒ‡ãƒ¼ã‚¿)

print("å•†å“ãƒ‡ãƒ¼ã‚¿:")
df_å•†å“

å•†å“ãƒ‡ãƒ¼ã‚¿:

   å•†å“å   ä¾¡æ ¼   åœ¨åº«
0  ã‚Šã‚“ã”  100   50
1  ã¿ã‹ã‚“   80  100
2  ãƒãƒŠãƒŠ   50   80
3  ã¶ã©ã†  200   30
4  ã„ã¡ã”  300   20

### ç·´ç¿’2: ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°ã¨é›†è¨ˆ
ä¸Šã§ä½œã£ãŸå•†å“ãƒªã‚¹ãƒˆã‹ã‚‰ï¼š
1. ä¾¡æ ¼ãŒ100å††ä»¥ä¸Šã®å•†å“ã‚’è¡¨ç¤º
2. å…¨å•†å“ã®åœ¨åº«æ•°ã®åˆè¨ˆã‚’è¨ˆç®—

In [31]:
# ã“ã“ã«ç·´ç¿’2ã®ã‚³ãƒ¼ãƒ‰ã‚’æ›¸ã„ã¦ãã ã•ã„
# 1. ä¾¡æ ¼ãŒ100å††ä»¥ä¸Šã®å•†å“
print("ä¾¡æ ¼ãŒ100å††ä»¥ä¸Š:")
df_å•†å“[df_å•†å“['ä¾¡æ ¼'] >= 100]

# 2. åœ¨åº«æ•°ã®åˆè¨ˆ
print(f"\nå…¨å•†å“ã®åœ¨åº«æ•°åˆè¨ˆ: {df_å•†å“['åœ¨åº«'].sum()}å€‹")

ä¾¡æ ¼ãŒ100å††ä»¥ä¸Š:

å…¨å•†å“ã®åœ¨åº«æ•°åˆè¨ˆ: 280å€‹

## ğŸ’¡ ç·´ç¿’å•é¡Œã®è§£ç­”

In [ ]:
# ç·´ç¿’1ã®è§£ç­”
å•†å“ãƒ‡ãƒ¼ã‚¿ = {
    'å•†å“å': ['ã‚Šã‚“ã”', 'ã¿ã‹ã‚“', 'ãƒãƒŠãƒŠ', 'ã¶ã©ã†', 'ã„ã¡ã”'],
    'ä¾¡æ ¼': [100, 80, 50, 200, 300],
    'åœ¨åº«': [50, 100, 80, 30, 20]
}

df_å•†å“ = pd.DataFrame(å•†å“ãƒ‡ãƒ¼ã‚¿)
print("å•†å“ãƒªã‚¹ãƒˆ:")
df_å•†å“

In [ ]:
# ç·´ç¿’2ã®è§£ç­”
# 1. ä¾¡æ ¼ãŒ100å††ä»¥ä¸Šã®å•†å“
print("ä¾¡æ ¼ãŒ100å††ä»¥ä¸Šã®å•†å“:")
print(df_å•†å“[df_å•†å“['ä¾¡æ ¼'] >= 100])

# 2. åœ¨åº«æ•°ã®åˆè¨ˆ
print(f"\nå…¨å•†å“ã®åœ¨åº«æ•°åˆè¨ˆ: {df_å•†å“['åœ¨åº«'].sum()}å€‹")

## ã¾ã¨ã‚

### ä»Šæ—¥è¦šãˆãŸã“ã¨ï¼ˆæœ€å°é™ï¼‰

1. **ãƒ‡ãƒ¼ã‚¿ã‚’ä½œã‚‹**: `pd.DataFrame(è¾æ›¸)`
2. **ãƒ‡ãƒ¼ã‚¿ã‚’è¦‹ã‚‹**: `df.head()`ã€`len(df)`
3. **åˆ—ã‚’é¸ã¶**: `df['åˆ—å']`
4. **ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°**: `df[df['åˆ—'] > å€¤]`
5. **ä¸¦ã¹æ›¿ãˆ**: `df.sort_values('åˆ—å')`
6. **é›†è¨ˆ**: `.sum()`ã€`.mean()`ã€`.max()`ã€`.min()`
7. **æ–°ã—ã„åˆ—**: `df['æ–°åˆ—'] = è¨ˆç®—å¼`
8. **ä¿å­˜ãƒ»èª­è¾¼**: `to_csv()`ã€`read_csv()`

### ğŸ¯ æ¬¡ã®ã‚¹ãƒ†ãƒƒãƒ—
ã“ã‚Œã‚‰ã®åŸºæœ¬æ“ä½œã‚’ä½•åº¦ã‚‚ç·´ç¿’ã—ã¦ã€æ‰‹ãŒè‡ªç„¶ã«å‹•ãã‚ˆã†ã«ãªã‚‹ã“ã¨ãŒå¤§åˆ‡ã§ã™ã€‚
Excelã§ã§ãã‚‹ã“ã¨ã®å¤šãã¯ã€Pandasã§ã‚‚åŒã˜ã‚ˆã†ã«ã§ãã¾ã™ï¼